ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
}

li {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: #e8e8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    box-shadow: 10px 10px 20px 0px #00000090;
    margin: 0 auto;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: .3s;
}

li span {
    font-size: 10px;
}

li:hover {
    transform: scale(1.1);
    background-color: aquamarine;
}